html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  // 防止左右滑动返回
  overscroll-behavior: none;
}

// reset smooth-scrollbar
.scrollbar-track {
  background: transparent !important;
}

.scrollbar-track-y,
.scrollbar-thumb.scrollbar-thumb-y {
  width: 6px !important;
}

.scrollbar-track-x,
.scrollbar-thumb.scrollbar-thumb-x {
  height: 6px !important;
}
